In [1]:
import numpy as np
import pandas as pd

In [6]:
df_train = pd.read_csv('CUP_IT_train_data.csv', sep=',', skiprows=133)

In [7]:
df_train.head()

,cif_id,dlk_cob_date,gi_smooth_3m,big_city,cu_gender,cu_education_level,cu_empl_area,cu_empl_level,payroll_f,cur_quantity_pl,...,active,standalone_dc_f,standalone_payroll_dc_f,standalone_nonpayroll_dc_f,salary,cu_age,cu_mob,cu_empl_cur_dur_m,is_married,cu_eduaction_level
0,335992,2018-06-30,17.957530,MLN,0,02. Среднее профессиональное,ТОРГОВЛЯ,SUPPORT STAFF,0,1,...,1,0,0,0,1192.8,29.0,144,46.0,1,2
1,335992,2018-04-30,27.720918,MLN,0,02. Среднее профессиональное,ТОРГОВЛЯ,SUPPORT STAFF,0,1,...,1,0,0,0,1192.8,29.0,142,44.0,1,2
2,335992,2018-05-31,21.949626,MLN,0,02. Среднее профессиональное,ТОРГОВЛЯ,SUPPORT STAFF,0,1,...,1,0,0,0,1192.8,29.0,143,45.0,1,2
3,335992,2018-08-31,14.855459,MLN,0,02. Среднее профессиональное,ТОРГОВЛЯ,SUPPORT STAFF,0,1,...,1,0,0,0,1192.8,29.0,146,48.0,1,2
4,335992,2018-03-31,27.917161,MLN,0,02. Среднее профессиональное,ТОРГОВЛЯ,SUPPORT STAFF,0,1,...,1,0,0,0,1192.8,29.0,141,43.0,1,2

In [8]:
df_train['cif_id'].nunique()

396576

In [9]:
df_train.shape

(4161783, 46)

In [12]:
df_train['dlk_cob_date'] = pd.to_datetime(df_train['dlk_cob_date'], yearfirst=True)

In [13]:
df_train.sort_values(['cif_id', 'dlk_cob_date'], inplace=True)

In [15]:
grouped = df_train.groupby(by='cif_id').count()

In [23]:
only_12 = grouped[grouped['dlk_cob_date'] != 12]

In [25]:
unstable_users = only_12.index

In [26]:
unstable_users

Int64Index([  1014,   1020,   1021,   1030,   1031,   1035,   1038,   1048,
              1055,   1060,
            ...
            511497, 511500, 511501, 511506, 511510, 511514, 511517, 511520,
            511526, 511535],
           dtype='int64', name='cif_id', length=96885)

In [21]:
grouped['dlk_cob_date'].describe()

count    396576.000000
mean         10.494289
std           3.076219
min           1.000000
25%          12.000000
50%          12.000000
75%          12.000000
max          12.000000
Name: dlk_cob_date, dtype: float64

In [22]:
df_train['big_city'].unique()

array(['MLN', 'OTH', 'MSK', 'SPB'], dtype=object)

In [29]:
target = df_train[df_train['dlk_cob_date'] >= '2018-07-01'][['cif_id', 'gi_smooth_3m']].groupby('cif_id').sum()

In [33]:
df_train = df_train[df_train['dlk_cob_date'] < '2018-07-01']

In [35]:
df_train = pd.merge(df_train, target, how='left', left_on='cif_id', right_index=True)

In [38]:
df_train.head()

,cif_id,dlk_cob_date,gi_smooth_3m_x,big_city,cu_gender,cu_education_level,cu_empl_area,cu_empl_level,payroll_f,cur_quantity_pl,...,standalone_dc_f,standalone_payroll_dc_f,standalone_nonpayroll_dc_f,salary,cu_age,cu_mob,cu_empl_cur_dur_m,is_married,cu_eduaction_level,gi_smooth_3m_y
1342694,1001,2018-01-31,70.994186,MLN,1,02. Среднее профессиональное,"Строительство, недвижимость",SUPPORT STAFF,0,1,...,0,0,0,1051.2,56.0,121,123.0,1,2,322.283363
1342693,1001,2018-02-28,-6.005108,MLN,1,02. Среднее профессиональное,"Строительство, недвижимость",SUPPORT STAFF,0,1,...,0,0,0,1051.2,56.0,122,124.0,1,2,322.283363
1342691,1001,2018-03-31,114.989605,MLN,1,02. Среднее профессиональное,"Строительство, недвижимость",SUPPORT STAFF,0,0,...,0,0,0,1051.2,56.0,123,125.0,1,2,322.283363
1342690,1001,2018-04-30,147.408528,MLN,1,02. Среднее профессиональное,"Строительство, недвижимость",SUPPORT STAFF,0,0,...,0,0,0,1051.2,56.0,124,126.0,1,2,322.283363
1342692,1001,2018-05-31,185.987934,MLN,1,02. Среднее профессиональное,"Строительство, недвижимость",SUPPORT STAFF,0,0,...,0,0,0,1051.2,56.0,125,127.0,1,2,322.283363

In [37]:
df_train['cu_education_level'].unique()

array(['02. Среднее профессиональное', '03. Высшее', '01. Среднее', nan,
       '04. Второе высшее, ученая степень'], dtype=object)

In [39]:
df_train['cu_empl_level'].unique()

array(['SUPPORT STAFF', 'BLUE COLLAR STAFF', '03', 'TRADE REPRESENTATIVE',
       'QUALIFIED STAFF', nan, 'MIDDLE MANAGEMENT', 'SALES MANAGER', '01',
       'SENIOR MANAGEMENT', 'Self-employed', '02', 'INSURANCE AGENT',
       'Other', '06', 'SELF-EMPLOYED', 'OTHER', '04', '05',
       'начальник отдела продаж', 'АО ТПК', 'начальник отдела', '-',
       'пРОДАВЕЦ-КОНСУЛЬТАНТ', 'ассистент', 'Other - учащаяся',
       'Директор'], dtype=object)

In [40]:
df_train['cu_empl_area'].unique()

array(['Строительство, недвижимость', 'ДРУГОЕ',
       'ПРОИЗВОДСТВО, ДОБЫВАЮЩАЯ ПРОМЫШЛЕННОСТЬ',
       'ИНФОРМАЦИОННЫЕ ТЕХНОЛОГИИ', 'ТОРГОВЛЯ', 'ЗДРАВООХРАНЕНИЕ', nan,
       'Туризм, развлечения, ресторанный бизнес',
       'Финансы, управляющие компании, банки', 'ТРАНСПОРТ, ЛОГИСТИКА',
       'PR, маркетинг, СМИ', 'Наука, образование', 'СТРАХОВАНИЕ',
       'Государственная служба', 'ЮРИДИЧЕСКИЕ УСЛУГИ', 'услуги, торговля',
       'проектирование и электромонтаж', 'spassoff@mail.ru',
       'Инвестиционная', 'Медицинская', 'индустрия развлечения',
       'ТУРИЗМ, РАЗВЛЕЧЕНИЯ, РЕСТОРАННЫЙ БИЗНЕС',
       'Автогрузовые перевозки', 'Подбор персонала',
       'Турбостроение-машиностроение', 'Издательский дом',
       'Торговля косметикой', 'торговля бытовой техникой', 'Unemployed',
       'опт.торговля', 'СТРОИТЕЛЬСТВО, НЕДВИЖИМОСТЬ',
       'строительство, IT, энергоснабжение', 'Системы безопасности',
       'Сдача в аренду', 'PR, МАРКЕТИНГ, СМИ',
       'сетевое рекламное агентство', '-', 'Мобильная связь',
       'Про-во и продажа дорожностроительн.техники', 'табачная фабрика',
       'Сдача нежилого помещения в аренду', 'экология',
       'торговая организация', 'проектирование, землеустройство',
       'Международные перевозки', 'Перевозки грузов',
       'производство и продажа звукового оборудования',
       'НАУКА, ОБРАЗОВАНИЕ', 'Поставка строительного оборудования',
       'балет', 'перекачка нефти', 'Ветеринарная деятельность',
       'торговля продуктами питания', 'агенстство по подбору персонала',
       'продажа строитель. техники', 'бухгалтерское обслуживание',
       'Фармацевтика (производство)', 'гражд.авиация',
       'Автоматизация промышленных предприятий', 'девелопмент',
       'производство и продажа кондитерских изделий',
       'сервисная нефтяная компания',
       'Оптовая торговля черными и цвет.металлами', 'Дизайн и реклама',
       'Информационные услуги (справочная служба)',
       'Столярное производство', 'Сдача в аренду (недвижимости, техники)',
       'ресторан', 'Инженерно-техническое предприятие',
       'торговля нефтепродуктами', 'деревообработка',
       'производство сувениров', 'АЗС', 'аренда, консультации',
       'Атомная энергетика', 'Другое охрана', 'Авиасервис',
       'Производство, строй конструкция', 'Агентская деятельность',
       'ЮРИДИЧЕСКИЕ И ПАТЕНТНЫЕ УСЛУГИ', 'дизайн-полиграфия',
       'Торговля металлопродукцией', 'поставка насосного оборудования',
       'Продажа и сервис авто', 'ФИНАНСЫ, УПРАВЛЯЮЩИЕ КОМПАНИИ, БАНКИ',
       'спорт, обучение', 'Нанотехнологии', 'Некоммерческое партнерство',
       'такси', 'дистрибуция сетевого оборудования',
       'Строительство и ремонт',
       'системы безопасности, инженерные системы', 'Общетсвенное питание',
       'Автомойка', 'обслуживание техники', 'Теплоэнергия',
       'Вывоз мусора', 'радиостанция', 'Обслуживание органов гос. вдасти',
       'продажа металла', 'Спутниковая связь', 'Рекламное агенство',
       'Музеи, искусства', 'Сеть аптек', 'Промышленность',
       'аренда недвижимости',
       'оптовая торговля сантехническим оборудованием',
       'передача электроэнергии, сдача помещений в аренду',
       'производство, продажа', 'косалтинг', 'Берингер',
       'интернет-агентство', 'Поставка и монтаж электрооборудования',
       'Услуги охраны', 'изыскательские работы', 'дистрибьютор',
       'международная торговля', 'торговля, продажа автомобилей и сервис',
       'Питание', 'сырьевая промышленность',
       'световое, звуковое оборудование', 'ж/д транспорт', 'Ночной клуб'],
      dtype=object)

In [41]:
def MAPE(y_true, y_pred):
    error = np.abs((y_true - y_pred) / y_true)
    return np.mean(error)